<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Hotel-Booking-System</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav nav-links me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" routerLink="">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="rooms">Rooms</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#contact">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link btn btn-success" routerLink="booking">Book now</a>
        </li>
      </ul>

      <div class="auth-links">
        <button type="button" data-bs-toggle="modal" data-bs-target="#login" class="btn btn-outline-success">Login</button>
        <button type="button" data-bs-toggle="modal" data-bs-target="#register" class="btn btn-outline-success">Register</button>

        <!-- Login Modal -->
        <div class="modal fade" id="login" tabindex="-1" aria-labelledby="login" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Log in your account</h1>
              </div>
              <div class="modal-body">
                <form>
                  <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email address</label>
                    <input type="email" class="form-control" placeholder="Enter your email address" id="exampleInputEmail1" aria-describedby="emailHelp">
                    <div id="emailHelp" class="form-text"></div>
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Enter your password" >
                    <div id="passwordhelp" class="form-text"></div>
                  </div>
                  <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Remember me</label>
                  </div>
                  <div class="my-3 d-flex justify-content-center">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Login</button> <br>
                  </div>
                  <a type="button" data-bs-toggle="modal" data-bs-target="#register">Register as new user</a>
                </form>
              </div>
            </div>
          </div>
        </div>

        <!-- Register Modal -->
        <div class="modal fade" id="register" tabindex="-1" aria-labelledby="register" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                register
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</nav>

<div
  id="carouselExampleFade"
  class="carousel slide carousel-fade"
  data-bs-ride="carousel"
>
  <div class="carousel-inner">
    <div class="carousel-item active hero-divs" data-bs-interval="4000">
      <img src="assets/images/3.jpg" alt="..." />
      <div class="carousel-caption d-none d-md-block">
        <div class="bg-dark"></div>
        <div class="d-inline">
          <h1>Hotel Booking System</h1>
          <p>Some representative placeholder content for the first slide.</p>
        </div>
      </div>
    </div>
    <div class="carousel-item active hero-divs" data-bs-interval="4000">
      <img src="assets/images/2.jpg" alt="..." />
      <div class="carousel-caption d-none d-md-block">
        <div class="bg-dark"></div>
        <div class="d-inline">
          <h1>Hotel Booking System</h1>
          <p>Some representative placeholder content for the first slide.</p>
        </div>
      </div>
    </div>
    <div class="carousel-item active hero-divs" data-bs-interval="4000">
      <img src="assets/images/1.jpg" alt="..." />
      <div class="carousel-caption d-none d-md-block">
        <div class="bg-dark"></div>
        <div class="d-inline">
          <h1>Hotel Booking System</h1>
          <p>Some representative placeholder content for the first slide.</p>
        </div>
      </div>
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExampleFade"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExampleFade"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div class="container">
  <h2 class="text-center mt-5 mb-2">Explore rooms</h2>
  <div class="container">
  <hr class="mb-5">
    <div class="row">
      <div class="col-md-4 p-3">
        <div class="card">
          <img src="assets/images/1.jpg" class="card-img-top" alt="..." />
          <div class="card-body">
            <h3 class="card-title">Card title</h3>
            <h4 class="card-title">$ 150</h4>
            <div class="d-flex justify-content-evenly card-buttons mt-4 mb-2">
              <a href="#" class="btn btn-primary">More details</a>
              <a href="#" class="btn btn-warning">Book now</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 p-3">
        <div class="card">
          <img src="assets/images/1.jpg" class="card-img-top" alt="..." />
          <div class="card-body">
            <h3 class="card-title">Card title</h3>
            <h4 class="card-title">$ 150</h4>
            <div class="d-flex justify-content-evenly card-buttons mt-4 mb-2">
              <a href="#" class="btn btn-primary">More details</a>
              <a href="#" class="btn btn-warning">Book now</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 p-3">
        <div class="card">
          <img src="assets/images/1.jpg" class="card-img-top" alt="..." />
          <div class="card-body">
            <h3 class="card-title">Card title</h3>
            <h4 class="card-title">$ 150</h4>
            <div class="d-flex justify-content-evenly card-buttons mt-4 mb-2">
              <a href="#" class="btn btn-primary">More details</a>
              <a href="#" class="btn btn-warning">Book now</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 p-3">
        <div class="card">
          <img src="assets/images/1.jpg" class="card-img-top" alt="..." />
          <div class="card-body">
            <h3 class="card-title">Card title</h3>
            <h4 class="card-title">$ 150</h4>
            <div class="d-flex justify-content-evenly card-buttons mt-4 mb-2">
              <a href="#" class="btn btn-primary">More details</a>
              <a href="#" class="btn btn-warning">Book now</a>
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</div>


<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
  <div class="col-md-4 d-flex align-items-center">
    <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
      <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
    </a>
    <span class="text-muted">© 2022 MDevs Group</span>
  </div>

  <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
    <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"></use></svg></a></li>
    <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"></use></svg></a></li>
    <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"></use></svg></a></li>
  </ul>
</footer>