    <div class="mmm">
        <h3 class="text-center mt-4">Add new room type</h3>
    <div class="form-group mt-2">
        <form [formGroup]="roomTypeForm" (submit)="onSubmit()">
            <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="name" formControlName="name">
            <div id="nameV" class="form-text text-danger"></div>
            </div>
            <div class="mb-3">
                <label for="capacity" class="form-label">Capacity</label>
                <input type="number" class="form-control" id="capacity" formControlName="capacity">
                <div id="capacityV" class="form-text text-danger"></div>
            </div>
            <div class="mb-3">
                <label for="price" class="form-label">Price</label>
                <input type="number" class="form-control" id="price" formControlName="price">
                <div id="priceV" class="form-text text-danger"></div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="images">Select images</label>
                <input type="file" class="form-control" accept="image/*" id="images" multiple formControlName="files">
            </div>
            <div class="mb-3">
                <label for="duz" class="form-label">Description Uz</label>
                <textarea class="form-control" id="duz" rows="6" formControlName="descriptionUz"></textarea>
            </div>
            <div class="mb-3">
                <label for="den" class="form-label">Description En</label>
                <textarea class="form-control" id="den" rows="6" formControlName="descriptionEn"></textarea>
            </div>
            <div class="mb-3">
                <label for="dru" class="form-label">Description Ru</label>
                <textarea class="form-control" id="dru" rows="6" formControlName="descriptionRu"></textarea>
            </div>
            <div class="d-flex justify-content-center mb-5">
                <a routerLink="room-type" class="btn btn-secondary mx-2">Cancel</a>
                <button type="submit" class="btn btn-success mx-2">Submit</button>
            </div>
        </form>
    </div>
    </div>