<div
  id="carouselExampleFade"
  class="carousel slide carousel-fade"
  data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active hero-divs" data-bs-interval="4000">
      <img src="assets/images/3.jpg" alt="..." />
      <div class="carousel-caption d-none d-md-block">
        <div class="bg-dark"></div>
        <div class="d-inline">
          <h1>{{'slider.title1' | translate}}</h1>
          <p>{{'slider.subtitle1' | translate}}</p>
        </div>
      </div>
    </div>
    <div class="carousel-item active hero-divs" data-bs-interval="4000">
      <img src="assets/images/2.jpg" alt="..." />
      <div class="carousel-caption d-none d-md-block">
        <div class="bg-dark"></div>
        <div class="d-inline">
          <h1>{{'slider.title2' | translate}}</h1>
          <p>{{'slider.subtitle2' | translate}}</p>
        </div>
      </div>
    </div>
    <div class="carousel-item active hero-divs" data-bs-interval="4000">
      <img src="assets/images/1.jpg" alt="..." />
      <div class="carousel-caption d-none d-md-block">
        <div class="bg-dark"></div>
        <div class="d-inline">
          <h1>{{'slider.title3' | translate}}</h1>
          <p>{{'slider.subtitle3' | translate}}</p>
        </div>
      </div>
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExampleFade"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExampleFade"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<section class="py-5">
  <form [formGroup]="checkForm" (submit)="submitCheck()">
    <div class="container contact">
      <h2 class="text-center mb-5">Tezkor tekshirish</h2>
      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <label for="checkIn">Kirish sanasi</label>
            <input type="date" class="form-control" id="checkIn" formControlName="startDate">
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label for="checkOut">Chiqish sanasi</label>
            <input type="date" class="form-control" id="checkOut" formControlName="endDate">
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label for="guests">Mehmonlar soni</label>
            <input type="number" class="form-control" id="guests" min="1" formControlName="guestCount">
          </div>
        </div>
        <div class="col-md-3 pb-3">
          <button type="submit" class="btn btn-primary btn-block my-3">Tekshirish</button>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="alert alert-success d-none" id="availability-alert">
            <strong>Xona mavjud!</strong> Sizning talablaringizga ko'ra bo'sh xonamiz mavjud!
          </div>
          <div class="alert alert-danger d-none" id="unavailability-alert">
            <strong>Kechirasiz!</strong> Siz tanlagan muddat oralig'ida bo'sh xonalarimiz mavjud emas!
          </div>
        </div>
      </div>
    </div>
  </form>
</section>


<div class="container my-5">
  <h2 class="text-center mt-5 mb-2">{{'titles.explore' | translate}}</h2>
  <div class="container">
    <hr class="mb-5" />
    <div class="row"><div *ngFor="let room of rooms" class="col-md-4 p-3">
      <div class="card">
        <img [src]="room.images[0]" class="card-img-top" alt="..." />
        <div class="card-body">
          <h3 class="card-title">{{room.name}}</h3>
          <h4 class="card-title">$ {{room.price}}</h4>
          <div class="d-flex justify-content-evenly card-buttons mt-4 mb-2">
            <a [routerLink]="['/rooms', room.id]" class="btn btn-primary">{{'buttons.more' | translate}}</a>
            <a [routerLink]="['/new-order', room.id]" class="btn btn-warning">{{'buttons.book' | translate}}</a>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>

<div id="about" class="bg-light py-4">
  <div class="container my-5">
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-center my-5">About Our Hotel Booking System</h2>
            <p>At our hotel booking system, we understand that finding the perfect hotel for your next trip can be a daunting task. That's why we've made it our mission to simplify the process and help you find the perfect hotel for your needs. Our user-friendly interface allows you to search for hotels by location, price, amenities, and more, making it easy to find the perfect hotel for your budget and preferences.</p>
            <p>In addition to our easy-to-use search function, we also offer a wide selection of hotels to choose from. From budget-friendly options to luxury resorts, we have something for everyone. Plus, with our secure booking system, you can book your hotel stay with confidence, knowing that your personal information is protected.</p>
            <p>At our hotel booking system, we strive to provide excellent customer service and support. If you have any questions or concerns, our customer service team is available 24/7 to assist you. So why wait? Start planning your next trip and book your hotel stay with us today!</p>
        </div>
    </div>
  </div>
</div>


<section class="contact-div py-5">
  <div id="contact" class="container contact">
    <h2 class="text-center mb-5">Contact Us</h2>
    <div class="row">
      <div class="col-md-6">
        <form>
          <div class="form-group mb-3">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" placeholder="Enter your name">
          </div>
          <div class="form-group mb-3">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" placeholder="Enter your email">
          </div>
          <div class="form-group mb-3">
            <label for="message">Message</label>
            <textarea class="form-control" id="message" rows="3"></textarea>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
      <div class="col-md-6">
        <div class="text-center">
          <i class="fas fa-envelope fa-3x mb-3"></i>
          <h4 class="my-3">Email Us</h4>
          <p>info@hotelbookingsystem.com</p>
        </div>
        <div class="text-center">
          <i class="fas fa-phone fa-3x mb-3"></i>
          <h4 class="my-3">Call Us</h4>
          <p>+1 (555) 555-5555</p>
        </div>
        <div class="text-center">
          <i class="fas fa-map-marker-alt fa-3x mb-3"></i>
          <h4 class="my-3">Visit Us</h4>
          <p>123 Main St, Anytown USA</p>
        </div>
      </div>
    </div>
  </div>
</section>
