<div *ngIf="!IsLoggedIn()" class="auth-links">
  <a routerLink="/login" class="btn btn-outline-success">{{'auth.login' | translate}}</a>
  <a routerLink="/register" class="btn btn-outline-success">{{'auth.register' | translate}}</a>
</div>

<div *ngIf="IsLoggedIn()">
  <div class="dropdown">
    <a
      class="username dropdown-toggle"
      role="button"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      <img src="assets/images/user.png" class="avatar me-3" />
      <span>{{ getUserName() }}</span>
    </a>

    <ul class="dropdown-menu">
      <li><a class="dropdown-item">{{'auth.profile' | translate}}</a></li>
      <li class="dropdown-item" (click)="logout()">
        <a style="cursor: pointer">{{'auth.logout' | translate}}</a>
      </li>
    </ul>
  </div>
</div>
