<div class="container">
    <a class="btn btn-primary mt-3" routerLink="/">Back home</a>
    <div *ngIf="room"  class="row my-3">
        <div class="col-md-6 div1">
            <img [src]="room.imagePath" alt="">
        </div>
        <div class="col-md-6 div2">
            <div>
                <h3 class="text-center">{{room.type}}</h3>
                <h4>Price: $ {{room.price}}</h4>
                <p>{{room.descriptionEn}}</p>
            </div>
            <div class="d-flex justify-content-center">
                <a class="btn btn-warning">Book now</a>
            </div>
        </div>
    </div>
</div>