.login-header{
    text-align: center;
}

.asosiy {
    width: 40%;
    margin: 20px auto;
    border: 1px solid rgb(185, 185, 185);
    border-radius: 12px;
    padding: 40px;
    background-color: rgb(250, 250, 250);
}

.links a, button {
    width: 80px;
    margin: 0 10px;
}

.natification {
    position: relative;
    z-index: 1;
    padding: 30px 100px;
    background-color: rgb(25,135,84);
    font-size: 24px;
    color: white;
    margin: 7px;
    border-radius: 15px;
    display: none;
}