<div class="container asosiy">
    <div class="login-header">
      <h2>{{'titles.login' | translate}}</h2>
      <hr class="my-4">
    </div>
    <div>
      <form [formGroup]="loginForm" (submit)="onSubmit()">
        <div class="mb-3">
          <label for="email" class="form-label">{{'login.email' | translate}}</label>
          <input type="email" class="form-control" placeholder="{{'login.emailp' | translate}}" id="email" ngModel [email]="true" formControlName="email" required>
          <div>
            <div *ngIf="email.errors?.['email']" class="text-danger">{{'email' | translate}}</div>
          </div>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">{{'login.password' | translate}}</label>
          <input type="password" class="form-control" minlength="8" id="password" formControlName="password" placeholder="{{'login.passwordp' | translate}}" required>
          <div>
            <div *ngIf="password.errors?.['pattern']" class="text-danger mt-3">{{'password.error' | translate}}</div>
          </div>
        </div>
        <p id="error" class="text-danger"></p>
        <div class="my-3 d-flex justify-content-center links">
          <a class="btn btn-secondary" routerLink="">{{'buttons.cancel' | translate}}</a>
          <button [disabled]="!loginForm.valid" type="submit" class="btn btn-success" >{{'buttons.submit' | translate}}</button> <br>
        </div>
        <a class="text-blue" routerLink="/register">{{'login.register' | translate}}</a>
      </form>
    </div>
  </div>