
<section class="home">
    <div class="text mt-2">Pending orders</div>

    <div class="main-content">
        <table class="table table-light table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th scope="col">Full name</th>
                    <th scope="col">Start date</th>
                    <th scope="col">End date</th>
                    <th scope="col">Price</th>
                    <th class="text-center">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Nodirbek Abdulakhadov</td>
                    <td>20/01/2022</td>
                    <td>22  /01/2022</td>
                    <td>$1300</td>
                    <td class="action-btns">
                        <div class="d-flex justify-content-evenly">
                            <a [routerLink]="['view', 1]" class="btn btn-primary">View</a>
                            <a href="" class="btn btn-danger">Decline</a>
                        </div>
                    </td>
                </tr>
                
            </tbody>
        </table>
    </div>

</section>
<router-outlet></router-outlet>