<div class="container asosiy">
  <div class="login-header">
    <h2>Create a new account</h2>
    <hr class="my-4" />
  </div>
  <div>
    <form [formGroup]="registerForm" (submit)="onSubmit()">
      <div class="mb-3">
        <label for="firstname" class="form-label">First Name <span class="text-danger"> *</span></label>
        <input
          type="text"
          class="form-control"
          placeholder="Enter your first name"
          id="firstname"
          formControlName="firstName"
          required
        />
      </div>
      <div class="mb-3">
        <label for="lastname" class="form-label">Last Name<span class="text-danger"> *</span></label>
        <input
          type="text"
          class="form-control"
          placeholder="Enter your last name"
          id="lastname"
          formControlName="lastName"
          required
        />
      </div>
      <div class="mb-3">
        <label for="phoneInput" class="form-label">Phone number<span class="text-danger"> *</span></label>
        <input
          type="tel"
          class="form-control"
          minlength="7"
          placeholder="Enter your phone number"
          id="phoneInput"
          formControlName="phoneNumber"
          required
        />
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Email<span class="text-success"> [optional]</span></label>
        <input
          type="email"
          class="form-control"
          placeholder="Enter your email address"
          id="email"
          formControlName="email"
        />
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password<span class="text-danger"> *</span></label>
        <input
          type="password"
          class="form-control"
          minlength="8"
          id="password"
          formControlName="password"
          placeholder="Enter your password"
          required
        />
        <div *ngIf="password.errors?.['pattern']" class="text-danger">
          invalid password
        </div>
      </div>
      <div class="mb-3">
        <label for="cpassword" class="form-label">Confirm Password<span class="text-danger"> *</span></label>
        <input
          type="password"
          class="form-control"
          minlength="8"
          id="cpassword"
          formControlName="confirmPassword"
          placeholder="Re-enter your password"
          required
        />
        <div>
          <div *ngIf="confirmPassword.hasError('matching')" class="text-danger">
            Password did not match!
          </div>
        </div>
      </div>
      <p id="error" class="text-danger"></p>
      <div class="my-3 d-flex justify-content-center links">
        <a class="btn btn-secondary" routerLink="">Cancel</a>
        <button [disabled]="!registerForm.valid"  type="submit" class="btn btn-success">Submit</button> <br />
      </div>
      <a class="text-blue" routerLink="/login">Log in exciting acount</a>
    </form>
  </div>
</div>
